<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EUM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D408CB11F18C2EB00078AC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCBEFD41F14C351001AF477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCBEFE81F14C351001AF477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCBEFF31F14C351001AF477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
